
.navbar {
	background-color: #33FFC7;
}

.quem-somos{
	background-color: #BFC9CA;
}

.margin{
	padding-top: 10px;
	padding-bottom: 50px;
}

.parceiros{
	background-color: #FE642E;
}
.servicos{
	background-color: #F5A9F2;
}